<div class="container">
    <div class="row justify-content-center">
      <div class="col-4">
          <form #registerForm="ngForm" (ngSubmit)="create()">
              <h2 class="text-center text-primary">Preencha as informações do leilão</h2>
              <hr>
            
              <div class="form-group">
                <input type="text" class="form-control" required name="name" [(ngModel)]="model.Name" placeholder="Nome">
              </div>
            
              <div class="form-group">
                <input type="number" class="form-control" required name="initialValue" [(ngModel)]="model.initialValue" min=0 placeholder="Lance inicial">
              </div>
            
              <div class="form-group">
                  <label>Qual o estado do produto? <select name="isNew" [(ngModel)]="model.isNew">
                      <option selected value=1>Novo</option>
                      <option value=0>Usado</option>
                    </select></label>
              </div>
            
              <div class="form-group">
                <input type="date" class="form-control" required name="initialDate" [(ngModel)]="model.initialDate" placeholder="Data de abertura">
              </div>
            
              <div class="form-group">
                  <input type="date" class="form-control" required name="finalDate" [(ngModel)]="model.finalDate" placeholder="Data de finalização">
                </div>
             
              <div class="form-group text-center">
                <button class="btn btn-success mr-2" type="submit">Cadastrar</button>
                <button class="btn btn-default" type="button" (click)="cancel()">Cancelar</button>
              </div>
            
            </form>
      </div>
    </div>
</div>